<p-card header="Dodaj stanowisko" styleClass="centered-form">
  <form [formGroup]="addStationForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="station-name">Nazwa stanowiska</label>
      <input
        id="station-name"
        name="name"
        formControlName="name"
        type="text"
        placeholder="Stół nr 1"
        pInputText
      />
      <div *ngIf="name?.invalid && name?.touched" class="form-item">
        <app-validation-error *ngIf="name?.errors?.['required']">
          Pole nazwa jest wymagane.
        </app-validation-error>
      </div>
    </div>

    <div class="input-box">
      <label for="station-type">Typ stanowiska</label>
      <select
        id="station-type"
        formControlName="type"
        name="type"
        pInputText>
        <option *ngFor="let option of stationType;" >
          {{option}}
        </option>
      </select>
<!--      <input-->
<!--        id="station-type"-->
<!--        formControlName="type"-->
<!--        name="type"-->
<!--        type="text"-->
<!--        placeholder="Ping-Pong"-->
<!--        pInputText />-->
    </div>
    <div *ngIf="type?.invalid && type?.touched" class="form-item">
      <app-validation-error *ngIf="type?.errors?.['required']">
        Pole typ jest wymagane.
      </app-validation-error>
    </div>

    <p-button label="Utwórz stanowisko" styleClass="button-wide" type="submit"></p-button>
  </form>
</p-card>
