<p-card header="Dodaj stanowisko" styleClass="centered-form">
  <form [formGroup]="addStationForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="station-name">Nazwa stanowiska</label>
      <input
      id="station-name"
      name="name"
      formControlName="name"
      type="text"
      pInputText
      >
      <div *ngIf="name?.invalid && name?.touched" class="form-item">
        <app-validation-error *ngIf="name?.errors?.['required']">
          Pole nazwa jest wymagane
        </app-validation-error>
      </div>
    </div>

    <div class="input-box">
      <label for="station-type">Typ stanowiska</label>
      <select
        id="station-type"
        formControlName="type"
        name="type"
        pInputText
        #stationTypes (change)="onSelected(stationTypes.value)"
      >
        <option *ngFor="let option of stationType;" >
          {{ categoryTypeToLabel(option) }}
        </option>
      </select>
    </div>

    <p-button label="Utwórz stanowisko" styleClass="button-wide" type="submit"></p-button>
    <app-validation-error *ngIf="errorResponse">
      {{ errorResponse }}
    </app-validation-error>
  </form>
</p-card>
