<td>{{ station.id }}</td>
<td><input [value]="station.name"></td>
<td><select pInputText>

        <option *ngFor="let option of stationType;">
            {{ categoryTypeToLabel(option) }}
        </option>
    </select></td>
<td>
    <p-toggleButton (click)="toggleActive(station.active)" styleClass="p-button-secondary p-button-overwrite" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
</td>
<td class="action-cell">
    <p-button (onClick)="onSend(station.id)" icon="pi pi-save" styleClass="p-button-secondary"></p-button>
    <p-divider layout="vertical"></p-divider>
    <p-button (onClick)="onCancel()" icon="pi pi-times"></p-button>
</td>