@import 'src/scss/variables';

.queue-wrapper {


    .input-box {
        display: flex;

        .result-inputs {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .dart-icon {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    .validation-error {
        color: $dangerColor;
        margin: 0;
        font-size: $textSm;
    }
}