@import 'src/scss/variables';

.wrapper {
  max-width: $pageWidth;
  margin: 1rem auto;
  display: flex;
  column-gap: 2rem;
}

.main {
  flex: 1;
}

.description {
  color: $textSecondaryColor;
}

.participants {
  width: 15rem;
}

.event-title {
  font-size: $textXl;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

h1 {
  margin: 0.5rem 0;
}

.users {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
  }

  &-data {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    text-decoration: none;
    color: $primaryTextColor;
  }

  &-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    background-color: $shade600;
  }
}

.tags {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}


@media only screen and (max-width: $mobileBreakpoint) {
  .wrapper {
    max-width: $pageWidth;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
  }

  .main {
    flex: 1;
  }

  .description {
    color: $textSecondaryColor;
  }

  .participants {
    width: 15rem;
  }

  .event-title {
    font-size: $textXl;
  }

  .buttons {
    margin: 1rem 0;
  }

  h1 {
    margin: 0.5rem 0;
  }

  .users {
    display: flex;
    flex-direction: column;
  }

  .user {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    color: $primaryTextColor;
    text-decoration: none;

    &-avatar {
      width: 2rem;
      height: 2rem;
      border-radius: 20%;
      background-color: $shade600;
    }
  }
}