<section class="wrapper">
  <section class="main">
    <app-go-back-button></app-go-back-button>

    <section *ngIf="event">
      <h1 class="event-title">
        {{ event.name }}
      </h1>

      <p-badge
        severity="info"
        value="{{ categoryTypeToLabel(eventType) | translate }}"
      ></p-badge>

      <p class="description">
        {{ event.description ?? ('event.noDescription' | translate) }}
      </p>
    </section>

    <section>
      <app-view-ping-pong-matches
        *ngIf="eventType === EventType.PING_PONG"
        [matches]="getPingPongMatches()"
        (approveMatch)="approveMatch($event)"
      ></app-view-ping-pong-matches>

      <app-view-table-football-matches
        *ngIf="eventType === EventType.TABLE_FOOTBALL"
        [matches]="getTableFootballMatches()"
        (approveMatch)="approveMatch($event)"
      >
      </app-view-table-football-matches>

      <app-view-pull-ups-matches
        *ngIf="eventType === EventType.PULL_UPS"
        [matches]="getPullUpsMatches()"
        (approveMatch)="approveMatch($event)"
      >
      </app-view-pull-ups-matches>
    </section>

    <section class="buttons">
      <a
        [routerLink]="[
          '/organizations',
          organizationId,
          'events',
          eventId,
          'results',
          { type: eventType }
        ]"
      >
        <p-button>{{ 'event.addResults' | translate }} </p-button>
      </a>
    </section>
  </section>

  <section class="participants">
    <h2 class="section-title">{{ 'event.participants' | translate }}</h2>

    <div class="users">
      <a
        class="user"
        *ngFor="let user of participants"
        routerLink="/profiles/{{ user.id }}"
      >
        <app-avatar class="user-avatar" [user]="user"></app-avatar>
        <p>{{ user.name }}</p>
      </a>
    </div>
  </section>
</section>
