@import 'src/scss/variables';

.wrapper {
  max-width: $pageWidth;
  margin: 4rem auto;

  >a {
    display: block;
    margin-top: 1rem;
  }

  .action-cell {
    display: flex;
    justify-content: flex-end;
  }

  .add-section {
    margin-top: 1rem;
    text-align: right;
  }

  
}