@import 'src/scss/variables';

.verify-account-info {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: $infoMessageBg;
  color: $infoMessageTextColor;
  margin-bottom: 1rem;
  text-align: center;
}
