<div class="wrapper">
  <div>
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearchInputChange()">
    <div *ngIf="searchQuery; else infiniteScrollContent" class="dashboard-container">
      <app-member-card
        [amIAdmin]="amIAdmin"
        *ngFor="let filteredUser of filteredUsers; let i = index"
        [user]="filteredUser"
        (kicked)="onKickUser(i)"
        class="dashboard-container-header"
      >
      </app-member-card>
    </div>
  </div>
    <ng-template #infiniteScrollContent>
      <div
        class="dashboard-container"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
        [scrollWindow]="true"
      >
        <app-member-card
          [amIAdmin]="amIAdmin"
          *ngFor="let user of users; let i = index"
          [user]="user"
          (kicked)="onKickUser(i)"
          class="dashboard-container-header"
        >
        </app-member-card>
      </div>
      <div *ngIf="noMore">
        Koniec
      </div>
    </ng-template>
</div>
