<div class="wrapper">
  <app-organization-back-button
    [organizationId]="organizationId"
  ></app-organization-back-button>
  <div class="dashboard-container">
    <h2>{{ 'organization.admins' | translate }}</h2>
    <app-admin-card
      [amIAdmin]="amIAdmin"
      *ngFor="let adminUser of adminUsers; let i = index"
      [user]="adminUser"
      (changedStatus)="onChangeStatus()"
      class="dashboard-container-header"
    >
    </app-admin-card>
  </div>

  <div>
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearchInputChange()"
        pInputText
        placeholder="{{ 'common.search' | translate }}..."
      />
    </span>
    <div
      *ngIf="searchQuery; else infiniteScrollContent"
      class="dashboard-container"
    >
      <span *ngIf="eventTypes">
        <app-member-card
          [eventTypes]="eventTypes"
          [amIAdmin]="amIAdmin"
          *ngFor="let filteredUser of filteredUsers; let i = index"
          [user]="filteredUser"
          (changedStatus)="onChangeStatus()"
          class="dashboard-container-header"
        >
        </app-member-card>
      </span>
    </div>
  </div>
  <ng-template #infiniteScrollContent>
    <div
      class="dashboard-container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      [scrollWindow]="true"
      *ngIf="eventTypes"
    >
      <app-member-card
        [eventTypes]="eventTypes"
        [amIAdmin]="amIAdmin"
        *ngFor="let user of users; let i = index"
        [user]="user"
        (changedStatus)="onChangeStatus()"
        class="dashboard-container-header"
      >
      </app-member-card>
    </div>
  </ng-template>
</div>
