<div class="avatar">
  <div class="avatar-image">
    <p-image styleClass="dashboard-header-image" [src]="getImagePath(user.profilePictureUrl)" alt="Image"></p-image>
  </div>
</div>
<div class="info">
  <div>
    <p class="info-name">{{user.name}}</p>
    <h4 class="info-title">{{user.email}}</h4>
  </div>

  <div>
    <p-button styleClass="p-button-sm" class="card-btn" >Wyrzuć</p-button>
    <p-button styleClass="p-button-sm" class="card-btn" >Nadaj uprawnienia admina</p-button>
    <p-button styleClass="p-button-sm" class="card-btn" >Zwyzywaj</p-button>
  </div>
</div>
