<div class="avatar" (click)="takeToUserProfile()">
  <div class="avatar-image">
    <p-image styleClass="dashboard-header-image" [src]="getImagePath(user.profilePictureUrl)" alt="Image"></p-image>
  </div>
</div>

<div class="info" (click)="takeToUserProfile()">
  <div>
    <p class="info-name">{{user.name}}</p>
    <h4 class="info-title">{{user.email}}</h4>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
<div class="button-container">
  <p-button *ngIf="amIAdmin && !myself" styleClass="p-button-sm" class="card-btn" (onClick)="onKickAdmin($event)" >{{ kickButtonText }}</p-button>
  <p-button *ngIf="amIAdmin && !myself" styleClass="p-button-sm" class="card-btn" (onClick)="unAdmin($event)"> {{ adminButtonText }}</p-button>
  <p-button *ngIf="!myself" styleClass="p-button-sm" class="card-btn" (onClick)="onChallenge()">Rzuć wyzwanie</p-button>
</div>

