.centered-form {
  width: 400px;
  margin: 4rem auto 0 auto;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.input-wide {
  width: 100%;
}

.api-error-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.form-step-wrapper {
  margin-top: 4rem;
}

.form-step-navigation {
  margin: 1rem 0;
  display: flex;
  column-gap: 1rem;

  > div {
    display: flex;
    column-gap: 1rem;
  }
}
