@import 'src/scss/variables';

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $shade600;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    color: $textSecondaryColor;
  }
}

.header-menu-flag {
  width: auto !important;
}
