@import "src/scss/variables";

.p-fileupload .p-fileupload-buttonbar {
    border:0;
  }
  .p-fileupload .p-fileupload-content {
    display:none;
  }

.input-helper-text {
  color: $textSecondaryColor;
}
