.calendarSidebar {
  position: relative !important;


  .p-sidebar .p-sidebar-header {
    padding: 0 !important;
  }
}
.filterMenu {
  top: 1.7rem !important;
  left: 0 !important;
  padding: 0 !important;
}

