<div *ngIf="!value; else loggedIn" class="landing">
  <div class="landing-content">
    <div class="landing-content-left">
      <div class="landing-header">
        {{ 'landing.heading' | translate }}
        <span class="colored">RivalHub.</span>
      </div>
      <p>
        <span>
          {{ 'landing.text1' | translate }}
        </span>
        <span>RivalHub</span>
        <span>
          {{ 'landing.text2' | translate }}
        </span>
      </p>
      <div class="buttons">
        <p-button routerLink="/register">{{
          'landing.joinNow' | translate
        }}</p-button>
        <p-button
          routerLink="/login"
          styleClass="p-button-outlined"
          iconPos="right"
          icon="pi pi-arrow-right"
          label="{{ 'landing.login' | translate }}"
        ></p-button>
      </div>
    </div>
    <div class="landing-content-right">
      <img
        priority
        alt="athlete"
        ngSrc="assets/img/athlete.png"
        width="444"
        height="288"
      />
    </div>
  </div>
</div>

<ng-template #loggedIn>
  <p-card [header]="'common.logged' | translate" styleClass="centered-form">
    <p>
      {{ 'landing.redirect' | translate }}
    </p>
    <div class="logged">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-card>
</ng-template>
