@import 'src/scss/variables';


.landing {
  height: 80px;

  &-content {
    max-width: $pageWidth;
    margin: 10dvh auto;
    height: 100%;
    justify-content: space-between;
    display: flex;

  }

  &-header {
    font-family:$fontFamily;
    font-size:64px;
    width: 45dvw;
    text-transform: Uppercase;
  }
  &-content-right{
    margin-top: 200px;
  }
}

p,h3{
  width:33dvw;
}

.logged{
  justify-content: center;
  margin: 0 33% auto;
  max-width: $pageWidth;
}
