<div class="dart-wrapper" *ngIf="match">
    <section class="tags">
        <p-tag severity="success" value="Dart"></p-tag>
        <p-tag severity="success" [value]="match.dartFormat"></p-tag>
        <p-tag severity="success" [value]="match.dartMode"></p-tag>
    </section>
    <section class="participants-list">
        <div class="participant" *ngFor="let participant of match.participants; let pindex=index">
            <app-avatar class="participant-avatar" [user]="participant"></app-avatar>
            <p>P{{pindex+1}}-{{ participant.name }}</p>
        </div>
    </section>

    <section class="grid-container">
        <div class="header" [style.grid-template-columns]="'repeat(' + calculateRows() + ', 1fr)'">
            <div class="row">
                <p>P#</p>
            </div>
            <div class="row" *ngFor="let user of match.participants; let i=index">
                <p>P{{i+1}}</p>
            </div>

        </div>
        <p-divider></p-divider>

        <div *ngFor="let playerScores of match.scoresInMatch; let i=index" class="leg-score">
            <div class="queue" [style.grid-template-columns]="'repeat(' + calculateRows() + ', 1fr)'">
                <div class="flex-center">
                    <p>#{{i}}</p>
                </div>

                <!-- <div class="row" *ngFor="let item of queue let i=index">

                    <p class="points-got">
                        Tutaj będą punkty zdobyte w rundzie
                    </p>
                    <div class="shots">

                        <img *ngFor="let _ of getHits(match.bounceOutsInLeg[i])" class="dart-icon"
                            src="assets/img/dart/dart-hit.png">

                        <img *ngFor="let _ of getMisses(match.bounceOutsInLeg[i])" class="dart-icon"
                            src="assets/img/dart/dart-miss.png">

                    </div>
                    <p class="points-left">
                        Tutaj będą punkty pozostałe do zakończenia rundy
                    </p>
                </div> -->

            </div>
            <p-divider></p-divider>
        </div>
    </section>


    <section>
        <p-button *ngIf="editable" (onClick)="openAddQueueDialog()">{{'event.addQueue' | translate}}</p-button>
    </section>
</div>