<section class="form-step-wrapper">
  <header>
    <h1>Dodaj użytkowników</h1>
  </header>

  <section class="teams">
    <div class="team">
      <h2>Drużyna 1</h2>
      <div class="team-member">
        <div class="team-member-avatar"></div>
        <p>Smok Smokowski</p>
      </div>
      <div class="team-add-button" (click)="openAddUserDialog(0)">
        <i class="pi pi-plus"></i>
        <p>Dodaj użytkownika</p>
      </div>
    </div>

    <div class="team">
      <h2>Drużyna 2</h2>
      <div class="team-add-button" (click)="openAddUserDialog(1)">
        <i class="pi pi-plus"></i>
        <p>Dodaj użytkownika</p>
      </div>
      <div class="team-add-button" (click)="openAddUserDialog(1)">
        <i class="pi pi-plus"></i>
        <p>Dodaj użytkownika</p>
      </div>
    </div>
  </section>

  <p-divider></p-divider>

  <div class="form-step-navigation">
    <p-button
      styleClass="p-button-outlined"
      (onClick)="setFormStep.emit(AddEventFormStep.BASIC_INFO)"
    >
      Powrót
    </p-button>
    <p-button (onClick)="setFormStep.emit(AddEventFormStep.DATE)">
      Dalej
    </p-button>
  </div>
</section>
