@import 'src/scss/variables';

.user{
  display: flex;
    align-items: center;
    height: 140px;
    flex: 0 0 100%;
    background-color: $panelContentBg;
    padding: 10px;
    border-radius: $dashboardRadius;
    border: $dashboardBorder;
}

.avatar {
  height: 100px;
}

.info {
  display: flex;
  height: 100px;
  justify-content: space-between;
  flex-grow: 1;

  
  &-name {
    margin: 10px 0 10px 15px;
    font-weight: $weightBold;
  }
  
  &-email {
    text-wrap:balance;
    margin: 10px 0 10px 15px;
    font-weight: $weightMedium;
    color: $textSecondaryColor;
  }


}
