<div class="nav-container">
    <app-nav-item class="nav-item" title="Wydarzenia"></app-nav-item>
    <app-nav-item class="nav-item" title="Kalendarz"></app-nav-item>
    <app-nav-item class="nav-item" title="Zaproś użytkownika"></app-nav-item>
    <app-nav-item class="nav-item" title="Stanowiska"></app-nav-item>
    <app-nav-item class="nav-item" title="Rezerwacje"></app-nav-item>
    <app-nav-item class="nav-item" title="Ranking"></app-nav-item>
    <app-nav-item class="nav-item" title="Ustawienia organizacji"></app-nav-item>
    <app-nav-item class="nav-item" title="Członkowie"></app-nav-item>
</div>