<section>
  <p-selectButton
    [options]="winnerOptions"
    optionLabel="name"
    optionValue="value"
  ></p-selectButton>

  <div class="input-box">
    <label for="">Pozostałe bile pierwszej drużyny</label>
    <p-inputNumber mode="decimal"></p-inputNumber>
  </div>

  <div class="input-box">
    <label for="">Pozostałe bile pierwszej drużyny</label>
    <p-inputNumber mode="decimal"></p-inputNumber>
  </div>

  <p-listbox
    [options]="winTypes"
    optionLabel="name"
    optionValue="value"
  ></p-listbox>
</section>
