<section class="wrapper">
  <h1>Konfigurator organizacji</h1>

  <app-available-events-configurator
    *ngIf="configuratorStep === OrganizationConfiguratorStep.CATEGORIES"
    (toggleAvailableEventType)="toggleAvailableEventType($event)"
    [activeEventTypes]="activeEventTypes"
    [possibleEventTypes]="possibleEventTypes"
    (setStep)="setStep($event)"
  >
  </app-available-events-configurator>

  <app-stations-configurator
    *ngIf="configuratorStep === OrganizationConfiguratorStep.STATIONS"
    (setStep)="setStep($event)"
  >
  </app-stations-configurator>
</section>
