<section class="wrapper">
  <h1>Konfigurator organizacji</h1>
  <h2>Wybierz jakie kategorie mają być dostępne</h2>

  <section class="categories">
    <div
      *ngFor="let type of possibleEventTypes"
      class="card-checkbox categories-item"
      [class.card-checkbox-selected]="isEventTypeActive(type)"
    >
      <i class="pi pi-calendar"></i>
      <p>{{ categoryTypeToLabel(type) }}</p>
    </div>
  </section>

  <p-divider></p-divider>

  <div class="form-step-navigation">
    <p-button> Dalej </p-button>
    <p-button styleClass="p-button-text p-button-secondary">
      Pomiń wstępną konfigurację
    </p-button>
  </div>
</section>
