@import 'src/scss/variables';

.wrapper {
  max-width: $pageWidth;
  margin: 0 auto;
}

.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 1rem;

  .categories-item {
    aspect-ratio: 1 / 1;
    border-radius: $borderRadius;
    border: 2px solid $shade600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: $primaryColor;
    }

    i {
      transition: color 0.3s;
      font-size: 2rem;
    }
  }
}

.selected-category {
  box-shadow: 0 0 0 3px transparentize($primaryColor, 0.7);
  border-color: $primaryColor !important;
}
