<div class="avatar">
  <img
    class="dashboard-header-image"
    [src]="organization.imageUrl"
    [ngStyle]="{
      'background-color': defaultAvatar ? organization.color : 'none'
    }"
    alt="Image"
  />
</div>
<div class="info">
  <div class="basic-info">
    <p class="info-title">{{ 'organization.label' | translate }}</p>
    <h4 class="info-name">{{ organization.name }}</h4>
  </div>

  <div class="statistics">
    <p *ngIf="usersCount">
      {{ usersCount }}
      {{
        usersCount === 1
          ? ('organization.membersCount.singular' | translate)
          : ('organization.membersCount.plural' | translate)
      }}
    </p>
  </div>
</div>
