<div class="dashboard-header">
    <div class="dashboard-header-content">
        <div class="dashboard-header-content-avatar">
            <p-image styleClass="dashboard-header-image" [src]="getImagePath(organization.imageUrl)" alt="Image"></p-image>
        </div>
        <div class="dashboard-header-content-info">
            <p class="dashboard-header-content-info-title">Organizacja</p>
            <h4 class="dashboard-header-content-info-name">{{organization.name}}</h4>
        </div>
    </div>

</div>