@import 'src/scss/variables';


.dashboard-header {
    display: flex;
    align-items: center;
    height: 140px;
    width: 100%;

    &-content {
        align-items: center;
        display: flex;
        background-color: $panelContentBg;
        padding: 10px;
        border-radius: $dashboardRadius;
        width: 100%;
        border: $dashboardBorder;

        &-avatar {
            height: 100px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            height: 100px;

            &-title {
                margin: 10px 0 10px 15px;
                font-weight: $weightMedium;
                color: $textSecondaryColor;
            }

            &-name {
                margin: 10px 0 10px 15px;
                font-weight: $weightBold;
            }

        }
    }

}