<div class="main-container">
  <app-centered-spinner
    *ngIf="isAccountVerified === null"
  ></app-centered-spinner>

  <p-messages severity="info" *ngIf="isAccountVerified === false">
    <ng-template pTemplate>
      Musisz zweryfikować konto, aby móc dołączyć do organizacji. Zaproszenie
      zostało dodane do listy zaproszeń.
    </ng-template>
  </p-messages>

  <div *ngIf="isAccountVerified">
    <h1>{{ mainMessage }}</h1>
    <p-button
      *ngIf="isLoaded"
      styleClass="button-wide"
      type="submit"
      (onClick)="onSubmit()"
    >
      Dołącz
    </p-button>
    <app-validation-error *ngIf="responseError">
      {{ responseError }}
    </app-validation-error>
  </div>
</div>
