@import '../../../../scss/variables.scss';

.organizations-container{
    display: flex;
    //break rows if width is less than 300px
    flex-wrap: wrap;
    width: $pageWidth;
    margin: 0 auto;
    
   

    .organization-card{
        display: flex;
        //make card with 300px width
        margin:10px;
        
        

        .organization-link{
            display: flex;
            width: 200px;
            height: 200px;

            justify-content: center;
            align-items: center;

            text-decoration: none;
            border-radius: 10px;

            background-repeat: no-repeat;
            background-size: cover;

            &:hover {
                //red border
                border: 2.5px solid red;
              }

        }
        .organization-name{
            backdrop-filter: blur(5px);
            color:black;
            font-size: 16px;
            font-weight: $weightMedium;
        }
    }
}