<p-card header="Rejestracja" styleClass="auth-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="email">Adres email</label>
      <input
        formControlName="email"
        pInputText
        name="email"
        id="email"
        type="email"
        placeholder="jan.kowalski@example.com"
      />
      <div *ngIf="email?.invalid && email?.touched">
        <app-validation-error *ngIf="email?.errors?.['required']">
          Adres email jest wymagany
        </app-validation-error>
        <app-validation-error *ngIf="email?.errors?.['email']">
          Niepoprawny adres email
        </app-validation-error>
      </div>
    </div>

    <div class="input-box">
      <label for="name">Nazwa użytkownika</label>
      <input
        pInputText
        name="name"
        id="name"
        type="text"
        placeholder="jan.kowal"
        formControlName="name"
      />
      <div *ngIf="name?.invalid && name?.touched">
        <app-validation-error *ngIf="name?.errors?.['required']">
          Nazwa użytkownika jest wymagana
        </app-validation-error>
        <app-validation-error *ngIf="name?.errors?.['minlength']">
          Nazwa użytkownika musi mieć co najmniej 3 znaki
        </app-validation-error>
        <app-validation-error *ngIf="name?.errors?.['maxlength']">
          Nazwa użytkownika nie może mieć więcej niż 250 znaków
        </app-validation-error>
      </div>
    </div>

    <div class="input-box">
      <label for="password">Hasło</label>
      <p-password
        name="password"
        inputId="password"
        [toggleMask]="true"
        styleClass="input-wide"
        inputStyleClass="input-wide"
        placeholder="********"
        formControlName="password"
        promptLabel="Wprowadź hasło"
        weakLabel="Słabe"
        mediumLabel="Średnie"
        strongLabel="Silne"
      ></p-password>
      <div *ngIf="password?.invalid && password?.touched">
        <app-validation-error *ngIf="password?.errors?.['required']">
          Hasło jest wymagane
        </app-validation-error>
        <app-validation-error *ngIf="password?.errors?.['minlength']">
          Hasło musi mieć co najmniej 8 znaków
        </app-validation-error>
      </div>
    </div>

    <div>
      <p-button styleClass="button-wide" type="submit" [loading]="isLoading">
        Zarejestruj się
      </p-button>
      <p class="api-error-wrapper">
        <app-validation-error *ngIf="apiError">
          {{ apiError }}
        </app-validation-error>
      </p>
    </div>
  </form>
</p-card>
