@import 'src/scss/variables';

.match {
  padding: 1rem;
  border-radius: $borderRadius;
  background-color: $panelContentBg;
}

.teams {
  margin-top: 1rem;
  display: flex;
  column-gap: 0.5rem;

  .team {
    flex: 1;
    border-radius: $borderRadius;

    &-label {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      margin-bottom: 0.5rem;
    }

    > p:first-of-type {
      margin-bottom: 1rem;
    }

    p {
      padding: 0;
      margin: 0;
    }

    &-member {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;

      &-data {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;

        i {
          color: $successButtonBg;
          font-size: $textSm;
        }
      }

      &-avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 20%;
        background-color: $shade600;
      }

      &-remove-button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100rem;

        i {
          color: $dangerColor;
        }

        &:hover {
          background-color: transparentize($shade600, 0.5);
        }
      }
    }
  }
}

.match-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-set-button-wrapper {
  margin-top: 1rem;
}
