<header class="header">
  <div class="header-content">
    <div class="header-left">
      <a class="header-logo-wrapper" routerLink="/">
        <img ngSrc="assets/img/logo.png" height="40" width="60" alt="Logo" />
      </a>
      <nav>
        <ul>
          <li>
            <app-header-link href="/">{{
              'header.main-page' | translate
            }}</app-header-link>
          </li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul>
        <li>
          <p-toast></p-toast>
          <p-menu
            styleClass="menu-slim"
            #menu
            [model]="items"
            [popup]="true"
          ></p-menu>
          <img
            [src]="pathOfFlag"
            alt="flag"
            (click)="menu.toggle($event)"
            width="24"
            height="15"
          />
        </li>
        <li *ngIf="!isLoggedIn">
          <app-header-link href="/register">
            {{ 'header.register' | translate }}
          </app-header-link>
        </li>
        <li *ngIf="!isLoggedIn">
          <app-header-link href="/login">
            {{ 'header.login' | translate }}
          </app-header-link>
        </li>

        <li *ngIf="isLoggedIn">
          <app-header-link href="/calendar">
            {{ 'header.calendar' | translate }}
          </app-header-link>
        </li>

        <li *ngIf="isLoggedIn">
          <app-header-link href="/organizations/new">
            {{ 'header.organisationAdd' | translate }}
          </app-header-link>
        </li>

        <li *ngIf="isLoggedIn">
          <app-header-link href="/my-organizations">
            {{ 'header.organisationShow' | translate }}
          </app-header-link>
        </li>

        <li *ngIf="isLoggedIn">
          <app-header-link href="/profile">{{
            'header.profile' | translate
          }}</app-header-link>
        </li>
      </ul>
    </nav>
  </div>
</header>
