@import 'src/assets/viva/viva-dark/theme';
.menu {
  position: absolute;
  width: 11rem;
  z-index: 8005;
  padding: 0 1rem 1rem;
  margin: 0.5rem auto 0.5rem -1.4rem;
  background: rgb(22, 29, 33);
  border: 2px solid #263238;
  border-radius: 6px;
  box-shadow:
    0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
