@import 'src/scss/variables';

.wrapper {
  max-width: $nonBgFormWidth;
  margin: 0 auto;
}

.event-title {
  font-size: $textXl;
}

.section-title {
  font-size: $textLg;
  font-weight: $weightMedium;
}

.buttons {
  margin: 1rem 0;
}

h1 {
  margin: 0.5rem 0;
}

.users {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  color: $primaryTextColor;
  text-decoration: none;

  &-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50rem;
    background-color: $shade600;
  }
}
