@import 'src/scss/variables';

.wrapper {
  max-width: $nonBgFormWidth;
  margin: 0 auto;
}

.event-title {
  font-size: $textXl;
}

.section-title {
  font-size: $textLg;
  font-weight: $weightMedium;
}

.buttons {
  margin: 1rem 0;
}
