@import 'src/scss/variables';

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

  &-item {
    aspect-ratio: 1 / 1;
    border-radius: $borderRadius;
    border: 2px solid $shade600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: $shade800;
    }

    i {
      font-size: 2rem;
    }
  }
}

.selected-category {
  border-color: $primaryColor !important;
}
