@import 'src/scss/variables';

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

  &-item {
    aspect-ratio: 1 / 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2rem;
    }
  }
}

.selected-category {
  border-color: $primaryColor !important;
}
