<section class="form-step-wrapper">
  <header>
    <h1>{{ 'event.category' | translate }}</h1>
  </header>
  <section class="categories">
    <div
      class="card-checkbox categories-item"
      [class.selected-category]="selectedEventType === event"
      *ngFor="let event of events"
      (click)="selectEvent.emit(event)"
    >
      <i class="pi pi-calendar"></i>
      <p>{{ categoryTypeToLabel(event) | translate }}</p>
    </div>
  </section>

  <p-divider></p-divider>

  <div class="form-step-navigation">
    <p-button
      [disabled]="selectedEventType === null"
      (onClick)="setFormStep.emit(AddEventFormStep.BASIC_INFO)"
    >
      {{ 'stepForm.next' | translate }}
    </p-button>
  </div>
</section>
