@import 'src/scss/variables';



    p {
        margin: 5px 0 0 0;
    }

    .name {
        color: $textSecondaryColor;
    }

    .bottom {

        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0;

        .date {

            color: $textSecondaryColor;
        }
    }
