@import 'src/scss/variables';

.stations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &-item {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border: 2px solid $shade600;
    border-radius: $borderRadius;
    padding: 1rem;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: $shade800;
    }

    &-selected {
      border-color: $primaryColor !important;
    }
  }
}
