@import 'src/scss/variables';
.add-reservation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;

  .add-reservation-container {
    max-width: $nonBgFormWidth;
    margin: 4rem auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    row-gap: 1rem;

    h1 {
      margin-top: 0.5rem;
    }

    .invalid-data {
      color: $primaryDarkColor;
    }
    .form-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      &-input {
        width: 450px;
        padding: 0px;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 0px;
      }
      &-list {
        list-style-type: none;
        margin: 3px;
        width: 100%;
        display: block;
        &-element {
          margin: 0px;
          padding: 0px;
          &-checkbox {
            margin-right: 4px;
            &hover {
              color: $primaryDarkColor;
            }
          }
        }
      }
    }
  }

  .in-modal {
    flex-direction: row !important;
  }

  .dates-wrapper {
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;
    justify-content: stretch;
  }

  @media (max-width: $mobileBreakpoint) {
    .dates-wrapper {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
