@import 'src/scss/variables';

.wrapper {
  margin: 4rem auto 0 auto;
  max-width: $nonBgFormWidth;

  h1 {
    font-size: $textXl;
  }
}

h2 {
  font-size: $textLg;
}

.add-match-button-wrapper {
  margin: 1rem 0;
}
