@import 'src/scss/variables';

.dashboard-container {
  display: flex;
  align-items: center;
  margin: 20px auto 0 auto;
  max-width: $pageWidth;
  flex-wrap: wrap;
  position: relative;

  &-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px !important;
  }

  &-header {
    display: flex;
    height: 140px;
    flex: $flexRow;
    padding: 0 5px;
  }

  .dashboard-panels {
    display: flex;
    justify-content: space-between;
    flex: $flexRow;
    margin-top: 25px;
    gap: 20px;

    &-history,
    &-activities {
      display: flex;
      align-self: flex-start;
      flex-direction: column;
    }

    &-history {
      flex: 0 0 65%;
    }

    &-activities {
      flex: 0 0 35%;

    }
  }
}



@media only screen and (max-width: $mobileBreakpoint) {
  .dashboard-container {
    display: flex;
    align-items: center;
    margin: 20px 5px;
    max-width: $pageWidth;
    flex-wrap: wrap;

    &-header {
      display: flex;
      height: 140px;
      flex: $flexRow;
    }

    .dashboard-panels {
      display: flex;
      justify-content: space-between;
      flex: $flexRow;
      margin-top: 25px;
      flex-wrap: wrap;

      &-history {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        flex: $flexRow;
      }

      &-activities {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        flex: $flexRow;
      }
    }
  }
}