<div class="dashboard-container">

  <!-- Widok profilu: -->
  <!-- Najpierw imie i nazwisko później email -->
  <!-- Odnośnie eventów dodać nazwe organizacji (pill??????) -->
  <!-- Gdy niezalogowany zwracać jakiś brak danych -->
  <!-- Ostatnia aktywność z boku a historia na głownym -->
  <!-- Wspólne organizacje w których jesteśmy -->

  <app-dashboard *ngIf="user" class="dashboard-container-header"></app-dashboard>

  <div class="dashboard-panels">
    <app-dashboard-history class="dashboard-panels-history"></app-dashboard-history>
    <app-dashboard-activities class="dashboard-panels-activities"></app-dashboard-activities>
  </div>


</div>