<div class="wrapper">
  <div class="input-box">
    <label for="team1Score">Drużyna 1</label>
    <input
      pInputText
      type="number"
      name="team1Score"
      id="team1Score"
      [(ngModel)]="team1Score"
    />
  </div>

  <div class="input-box">
    <label for="team2Score">Drużyna 2</label>
    <input
      pInputText
      type="number"
      name="team2Score"
      id="team2Score"
      [(ngModel)]="team2Score"
    />
  </div>
</div>

<p-button styleClass="button-wide" (click)="onSubmit()">Dodaj</p-button>

<div class="validation-error-wrapper" *ngIf="errorMessage">
  <app-validation-error>{{ errorMessage }}</app-validation-error>
</div>
