@import 'src/scss/variables';

.header-link {
  color: $textSecondaryColor;
  text-decoration: none;
  font-size: $textBase;
  transition: color 0.3s;

  &:hover {
    color: $textColor;
  }

  &-active {
    color: $primaryColor !important;
  }
}
