<div class="form-container">
  <p-card header="Dodaj organizację">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-item form-avatar">
        <p-image width="75" height="75" [src]="imageURL" alt="avatar"></p-image>
        <p-divider layout="vertical"></p-divider>
        <p-fileUpload
          name="uploadAvatar"
          [customUpload]="true"
          (onSelect)="onFileSelectClicked($event)"
          (onClear)="onClearClicked($event)"
          [showUploadButton]="false"
          cancelLabel="Anuluj"
          chooseLabel="Dodaj zdjęcie"
          accept="image/*"
          [fileLimit]="1"
          [maxFileSize]="5242880"
        >
        </p-fileUpload>
      </div>
      <div class="input-box">
        <label for="organization-name">Nazwa organizacji</label>
        <input
          #organization
          id="organization-name"
          type="text"
          pInputText
          formControlName="name"
        />
        <small id="organization-name-help" class="input-helper-text">
          Podaj nazwę dla swojej organizacji.
        </small>
      </div>
      <div *ngIf="name?.invalid && name?.touched">
        <app-validation-error *ngIf="name?.errors?.['required']">
          Nazwa jest wymagana
        </app-validation-error>
        <app-validation-error *ngIf="name?.errors?.['minlength']">
          Nazwa organizacji musi mieć co najmniej 3 znaki
        </app-validation-error>
        <app-validation-error *ngIf="name?.errors?.['maxlength']">
          Nazwa organizacji nie może mieć więcej niż 256 znaków
        </app-validation-error>
      </div>
      <div>
        <div class="button-wrapper">
          <p-button type="submit">Utwórz organizację</p-button>
        </div>
        <p class="api-error-wrapper">
          <app-validation-error *ngIf="apiError">
            {{ apiError }}
          </app-validation-error>
        </p>
      </div>
    </form>
  </p-card>
</div>
