<section class="form-step-wrapper">
  <header>
    <h1>{{ 'event.date.D&T' | translate }}</h1>
  </header>

  <form class="time-selector-wrapper" [formGroup]="dateForm">
    <div class="input-box">
      <label for="startDate">{{ 'event.date.start' | translate }}</label>
      <p-calendar
        inputId="startDate"
        styleClass="input-wide"
        [showTime]="true"
        [showIcon]="true"
        [minDate]="today"
        dateFormat="dd-mm-yy"
        formControlName="startDate"
      ></p-calendar>
    </div>
    <div class="input-box">
      <label for="endDate">{{ 'event.date.end' | translate }}</label>
      <p-calendar
        inputId="endDate"
        styleClass="input-wide"
        dateFormat="dd-mm-yy"
        [showTime]="true"
        [showIcon]="true"
        [minDate]="today"
        formControlName="endDate"
      ></p-calendar>
    </div>
  </form>

  <p-divider></p-divider>

  <div class="form-step-navigation">
    <p-button
      styleClass="p-button-outlined"
      (onClick)="setFormStep.emit(AddEventFormStep.ADD_USERS)"
    >
      {{ 'stepForm.previous' | translate }}
    </p-button>
    <p-button (onClick)="setFormStep.emit(AddEventFormStep.RESERVATION)">
      {{ 'stepForm.next' | translate }}
    </p-button>
  </div>

  <app-validation-error *ngIf="dateError !== null">
    {{ dateError }}
  </app-validation-error>
</section>
