<td>{{ station.id }}</td>
<td>{{ station.name }}</td>
<td>{{ categoryTypeToLabel(station.type) }}</td>
<td><i *ngIf="station.active" class="pi pi-check" style="color: green"></i>
    <i *ngIf="!station.active" class="pi pi-times" style="color: red"></i>
</td>
<td class="action-cell">
    <p-button (onClick)="startEdit()" icon="pi pi-file-edit" styleClass="p-button-secondary"></p-button>
    <p-divider layout="vertical"></p-divider>
    <p-button (onClick)="onDelete(station.id)" icon="pi pi-trash"></p-button>
</td>