<section class="form-step-wrapper">
  <header>
    <h1>{{ 'event.info' | translate }}</h1>
  </header>

  <form action="" [formGroup]="basicInfoForm" class="basic-info-form">
    <div class="input-box">
      <label for="name">{{ 'event.eventName' | translate }}*</label>
      <input id="name" name="name" type="text" pInputText formControlName="name" />
      <small class="input-helper-text">
        {{ 'event.nameRequire3Characters' | translate }}
      </small>
    </div>

    <div class="input-box">
      <label for="description">{{ 'event.description' | translate }}</label>
      <textarea pInputTextarea id="description" rows="5" formControlName="description"></textarea>
    </div>
  </form>

  <p-divider></p-divider>

  <div class="form-step-navigation">
    <p-button styleClass="p-button-outlined" (onClick)="setFormStep.emit(AddEventFormStep.CATEGORY)">
      {{ 'stepForm.previous' | translate }}
    </p-button>
    <p-button [disabled]="!basicInfoForm.valid" (onClick)="setFormStep.emit(AddEventFormStep.ADD_USERS)">
      {{ 'stepForm.next' | translate }}
    </p-button>
  </div>
</section>