<section class="wrapper">
  <div class="input-box">
    <label for="name">Nazwa użytkownika</label>
    <input
      pInputText
      type="text"
      name=""
      id="name"
      class="input-wide"
      [ngModel]="userSearchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>

  <div class="users">
    <div
      class="user"
      *ngFor="
        let user of userSearchQuery.length >= 3 || !require3Characters
          ? filteredUserList
          : []
      "
    >
      <div class="user-data">        
        <app-avatar class="user-avatar" [user]="user"></app-avatar>
        <p>{{ user.name }}</p>
      </div>
      <div class="user-add-button" (click)="handleAddUser(user)">
        <i class="pi pi-plus"></i>
      </div>
    </div>
  </div>

  <app-no-resource-info
    *ngIf="
      filteredUserList.length === 0 &&
      (userSearchQuery.length >= 3 || !require3Characters)
    "
  >
    Nie znaleziono żadnych użytkowników
  </app-no-resource-info>

  <app-no-resource-info
    *ngIf="userSearchQuery.length < 3 && require3Characters"
  >
    Wpisz co najmniej 3 znaki
  </app-no-resource-info>
</section>
