<div class="content-wrapper">
  <p-card header="Zaproś użytkownika" styleClass="centered-form" subheader="Do organizacji {{ organization.name }}">
    <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="invite-form">
      <div class="input-box">
        <label for="email">Adres email</label>
          <input
            id="email"
            formControlName="email"
            pInputText
            name="email"
            type="email"
          />
        <div *ngIf="email?.invalid && email?.touched">
          <app-validation-error *ngIf="email?.errors?.['required']">
            Adres email jest wymagany
          </app-validation-error>
        </div>
      </div>
      <p-button styleClass="button-wide" type="submit">Zaproś</p-button>
    </form>

    <div class="invite-link">
      <p>Albo udostępnij link</p>
      <span class="supporting-text">{{ organizationUrl }}</span>
    </div>
  </p-card>
</div>
