<!--<div class="main-container">-->
<!--  <div class="container-header">-->
<!--    <h2>Zaproszenie użytkownika</h2>-->
<!--    <span class="supporting-text">Do organizacji XXX</span>-->
<!--  </div>-->

<!--  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="invite-form">-->
<!--    <div class="input-box">-->
<!--      <label for="email">Adres email</label>-->
<!--        <input-->
<!--          id="email"-->
<!--          formControlName="email"-->
<!--          pInputText-->
<!--          name="email"-->
<!--          type="email"-->
<!--          placeholder="jan.kowalski@example.com"-->
<!--        />-->
<!--      <div *ngIf="email?.invalid && email?.touched">-->
<!--        <app-validation-error *ngIf="email?.errors?.['required']">-->
<!--          Adres email jest wymagany-->
<!--        </app-validation-error>-->
<!--      </div>-->
<!--    </div>-->
<!--    <p-button styleClass="button-wide" type="submit">Zaproś</p-button>-->
<!--  </form>-->

<!--  <div class="invite-link">-->
<!--    <p>Albo udostępnij link</p>-->
<!--    <p class="supporting-text">https://exmaple.com/invite/434354325</p>-->
<!--  </div>-->

<!--</div>-->
<div class="content-wrapper">
  <p-card header="Zaproś użytkownika" styleClass="centered-form" subheader="Do organizacji XXX">
    <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="invite-form">
      <div class="input-box">
        <label for="email">Adres email</label>
          <input
            id="email"
            formControlName="email"
            pInputText
            name="email"
            type="email"
            placeholder="jan.kowalski@example.com"
          />
        <div *ngIf="email?.invalid && email?.touched">
          <app-validation-error *ngIf="email?.errors?.['required']">
            Adres email jest wymagany
          </app-validation-error>
        </div>
      </div>
      <p-button styleClass="button-wide" type="submit">Zaproś</p-button>
    </form>

    <div class="invite-link">
      <p>Albo udostępnij link</p>
      <span class="supporting-text">https://exmaple.com/invite/434354325</span>
    </div>
  </p-card>
</div>
