<h4>Nadchodzące wydarzenia</h4>
<div class="list-wrapper">
  <app-activity-item
    class="item-container"
    *ngFor="let reservation of reservations"
    [reservation]="reservation"
  ></app-activity-item>

  <div class="item-container" *ngFor="let event of events">
    <p class="name">Wydarzenie</p>
    <div class="content">
      <div class="stations">
        {{ categoryTypeToLabel(event.eventType) | translate }}
      </div>
      <div class="bottom">
        <p class="date">
          {{ event.startTime | date: DISPLAY_DATE_FORMAT }} -
          {{ event.endTime | date: DISPLAY_DATE_FORMAT }}
        </p>
        <p-button
          styleClass="p-button-secondary"
          [routerLink]="[
            '/organizations',
            organizationId,
            'events',
            event.eventId,
            { type: event.eventType }
          ]"
          >Zobacz wydarzenie</p-button
        >
      </div>
    </div>
  </div>
</div>
