@import 'src/scss/variables';
@import 'primeng/resources/primeng.css';

@import 'src/scss/components/form';
@import 'src/scss/components/button';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

.p-fileupload .p-fileupload-buttonbar {
  border:0;
}
.p-fileupload .p-fileupload-content {
  display:none;
}