@import 'src/assets/viva/viva-dark/theme';

$pageWidth: 1280px;

$dangerColor: #da2237;

$dashboardBorder: 2px solid #334155;
$dashboardRadius: 10px;

$mobileBreakpoint: 768px;

$weightRegular: 500;
$weightMedium: 600;
$weightSemibold: 700;
$weightBold: 800;

$textSm: 0.875rem;
$textBase: 1rem;