<div class="dashboard-container">
  <app-dashboard-header
    class="dashboard-container-header"
    [organization]="organization"
    *ngIf="organization && users"
    [usersCount]="users.length"
  ></app-dashboard-header>

  <div class="dashboard-panels">
    <app-dashboard-activities-panel
      class="dashboard-panels-activities"
      [reservations]="reservations"
      [events]="events"
    ></app-dashboard-activities-panel>
    <app-dashboard-users-panel
      class="dashboard-panels-users"
      [users]="users"
    ></app-dashboard-users-panel>
  </div>
</div>
