<ul>
    <li *ngIf="!mobileView && isAccountActivated">
        <app-header-link routerLink="/calendar">
            {{ 'header.calendar' | translate }}
        </app-header-link>
    </li>

  <li *ngIf="!mobileView && isAccountActivated">
    <app-header-link routerLink="/organizations/new">
      {{ 'header.organisationAdd' | translate }}
    </app-header-link>
  </li>

  <li *ngIf="!mobileView">
    <app-header-link routerLink="/organizations">
      {{ 'header.organisationShow' | translate }}
    </app-header-link>
  </li>

  <li (click)="showSidebar()">
    <div class="user-avatar">
      <i class="pi pi-user"></i>
    </div>
  </li>
</ul>
